canvas {
    background: #fff;
    border: 1px solid #aaa;
    cursor: pointer;
    margin: 30px auto;
    display: block;
  }
  
  h1,
  h4 {
    text-align: center;
    margin: 5px auto;
  }
  
  button {
    display: block;
    margin: 0 auto;
    width: 100px;
    border-radius: 15px;
    padding: 5px 15px;
    background: none;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  button:hover {
    background: black;
    color: white;
  }
  
  button:focus {
    outline: none;
  }