*{
    margin:0;
    padding:0;
  }
  .score{
    text-align:center;
    color:#064420;
    font-size:25px;
    background-color:#e4efe7;
    height:30px;
    width:150px;
    margin-top:50px;
    padding:10px;
    border-radius:10px;
  }
  
  #happy-play-text{
    display:block;
    padding:10px;
  }
  
  .start_game{
    cursor:pointer;
    padding:10px;
    text-align:center;
    z-index:2;
    background-color:#faf1e6;
    position:absolute;
    color:#064420;
    width:500px;
    height:90px;
    font-size:20px;
    margin-top:350px;
    margin-left:160px;
    border-radius:20px;
    transition:all 1s;
  }
  .start_game:hover{
    transform:scale(1.2);
  }
  #happy-play-text{
    font-weight:bolder;
    font-size:25px;
  }
  .roadLine{
    position:absolute;
    margin-left:200px;
    width:5px;
    height:100px;
    background-color:white;
    overflow:hidden;
  }
  
  body{
    display:flex;
    justify-content:space-around;
    background-color:#064420;
  }
  .road{
    background-color:black;
    position:relative;
    width:400px;
    height:100vh;
    overflow:hidden;
  }
  
  .car{
    background-color:red;
    width:50px;
    height:70px;
    left:100px;
    top:400px;
    position:absolute;
    z-index:1;
  }
  .enemyCar{
    background-color:blue;
    width:50px;
    height:70px;
    left:100px;
    top:400px;
    position:absolute;
    z-index:1;
  }